@import "tailwindcss";
@source "../../../packages/sglmps/ui";
@source "../../../packages/sglmps/components";

@theme {
  --color-bg: #000000;
  --color-bg-10: #121212;
  --color-bg-20: #1f1f1f;
  --color-bg-30: #2b2b2b;
  --color-bg-40: #343434;
  --color-bg-70: #7c7c7c;
  --color-bg-80: #b3b3b3;
  --color-bg-50: #4a4a4a;
  --color-bg-60: #636363;
  --color-bg-90: #d6d6d6;
  --color-brand: #1db954;
  --color-danger-10: #851d22;
  --color-danger-20: #581919;
  --color-danger-30: #2f1310;
  --color-danger: #b41c2b;
  --color-fg: #ffffff;
  --color-info-10: #3267b5;
  --color-info-20: #284475;
  --color-info-30: #1a253b;
  --color-info: #388cfa;
  --color-success-10: #167533;
  --color-success-20: #184d25;
  --color-success-30: #132916;
  --color-success: #009f42;
  --color-warning-10: #af7f3c;
  --color-warning-20: #71532a;
  --color-warning-30: #392b19;
  --color-warning: #f0ad4e;
}

body {
  font-family: "Poppins", sans-serif, "Helvetica Neue", "Helvetica", "Arial";
  height: 100svh;
  width: 100vw;
  max-height: 100svh;
  max-width: 100vw;
  overflow: hidden;
  background-color: #000;
}

* {
  font-family: "Poppins", sans-serif, "Helvetica Neue", "Helvetica", "Arial" !important;
}

br {
  margin: 4px 0;
}

.auth-text-gradient {
  color: var(--color-fg);
  background-image: linear-gradient(
    45deg,
    #0e0b89,
    #97dace 33%,
    #adce5e 67%,
    #103669 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
